asgiref==3.10.0
dj-database-url==3.0.1
Django==5.2.7
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1

gunicorn==23.0.0
whitenoise==6.9.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dotenv==1.1.1
sqlparse==0.5.3
qrcode==7.4.2
Pillow==10.4.0

# AI verification + image processing dependencies
google-genai==1.75.0
opencv-python-headless==4.12.0.88
numpy==2.2.6
python-dateutil==2.9.0.post0
insightface==1.0.1
onnxruntime==1.28.0